
section .work {

        padding-bottom: 200px;
        padding-top: 94px;

    }

.hero .container{

    text-align: center;
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    background-color: var(--background-gray);
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../cards/img.jpg2.jpg);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}


.hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
 
    
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: var(--white-text);

}

.hero-button {

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--white-text);
    background-color: var(--blue-text);

}

.hero section {

    padding-bottom: 200px;

}

.work .container {

    display: flex;
    margin: 0 auto;
 /* padding-top: 94px;*/
}

.work-list {

    display: flex;  
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;

}


.work section {

    padding-top: 94px;
    padding-bottom: 94px;
}

.work-list-item {

    width: 270px;

}

.work-list-title {
 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;

    color: var(--black-text);
    

}

.work-list-deskription {
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    color: var(--gray-text-phone);

}

.work-list-item:not(:last-child) {

    margin-right: 30px;

}

.work-list-item::before {

    content: "";
    display: block;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    background-color: var(--background-section-four);
    

}

.work-list-item:nth-child(1):before {

    background-image: url(../cards/img/Vector1.svg);
    background-size: 65px;

}


.work-list-item:nth-child(2):before {

    background-image: url(../cards/img/Vector2.svg);
    background-size: 69px;

}

.work-list-item:nth-child(3):before {

    background-image: url(../cards/img/Vector3.svg);
    background-size: 69px;

}

.work-list-item:nth-child(4):before {
    background-image: url(../cards/img/Vector4.svg);
    background-size: 69px;

}


.mission {

    display: flex;
    margin: 0 auto;
    background-color: var(--white-text);

}

.mission-title {

    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    color: var(--black-text);

}
 .mission-list {

    display: flex;

 }

 .mission-list-item:not(:last-child) {

    margin-right: 30px;

 }


.team {

    display: flex;
    padding-top: 94px;
    background-color: var(--background-section-four);
   
}

.team section {

padding-top: 94px;

}

.team-title {

    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    color: var(--black-text);
   
}

.team-list {

    display: flex;
   
}

.team-list-item {

    width: 270px;
    background-color: var(--white-text);
   
}


.team-list-item:not(:last-child) {

    margin-right: 30px;

}


.team-name {
    
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    color: var(--black-text);

}

.team-name-position {

    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
 
    color: var(--gray-text-phone);

}

.cards-description {

    padding: 30px 59px;

}

 .container-list {
        
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;

    }

.team-icon {

        margin-top: 16px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;

    }

.media {

    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.social {

    display: block;
    display: flex;
    height: 44px;
    width: 44px;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--gray-text-phone);
    background-color: var(--white-text);
    padding: 0;

}

.insta, .tw, .fb, .in {

    fill: currentColor;

}

.costumers {

    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;

}

.costumers-title {

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-top: 0;
    margin-bottom: 50px;
}


.costumers-list {

    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

}


.costumers-link {

    display: flex;
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray-border);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--gray-border);

}

.costumers-list li:not(:last-child) {

    margin-right: 30px;

}

.costumers .container {

    margin: 0 auto;

}


